@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";
.App {
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.App-header {
    min-height: 40vh;
    background-image: url("homebanner.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header h1{
    font-size: 67px
}